body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "BBCReith",Arial,Helvetica,freesans,sans-serif;
    font-weight: 300;
    background-image: url(./assets/wave.svg);
    background-size: cover;
}

ul.nav-links {
    padding: 0.5rem 0 0;
}

ul .link {
    padding: 0.5rem;
}

/* HAMBURGER BUTTON */

.mobile-menu-toggle {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.mobile-menu-toggle:focus {
    background: white;
}

.mobile-menu-toggle .ham {
    transition: transform .4s cubic-bezier(.25, .5, .25, 1.5);
    vertical-align: bottom;
}

.ham-line {
	fill: none;
	transition: transform 400ms ease, stroke-dasharray 400ms ease, stroke-dashoffset 400ms ease;
	stroke: #273865;
	stroke-width: 5.5;
    stroke-linecap: round;
}

.ham .top {
    stroke-dasharray: 40 121;
}

.ham .bottom {
    stroke-dasharray: 40 121
}

.mobile-menu-toggle.active .ham .top {
    stroke-dashoffset: -68px;
}

.mobile-menu-toggle.active .ham .bottom {
	stroke-dashoffset: -68px;
}

.mobile-menu-toggle.active .ham {
	transform: rotate(-45deg);
}

img {
    max-width: 70vw;
}

header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
}

header ul {
    margin: 0;
    list-style-type: none;
    display: flex;
}

header ul li {
    margin: 0 0.75rem;
}

footer {
    padding: 1.5rem;
    background: #273865;
    color: white;
    border-top: 2px solid black;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

footer p {
    margin: 0;
}

.promo-container {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 2rem;
    margin: 2rem 0;
    justify-content: center;
}

.link {
    background: transparent;
    transition: 0.25s background;
    color: black;
    text-decoration: none;
}

.link:hover {
    background: white;
}

.promo {
    max-width: 920px;
}

.promo p {
    max-width: 60ch;
}

.hero-text {
    font-size: 4rem;
    margin: 2rem 0;
    padding: 0;
}

ol.hero-text {
    padding: 0 4rem;
}

.sexy-button {
    display: inline-block;
    text-decoration: none;
    background: white;
    border: 0.3rem solid #4371ec;
    font-size: 2rem;
    padding: 0.5rem 0.75rem;
    color: #4371ec;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 800;
    transition: 0.5s background;
    box-shadow: 0.5rem 0.5rem 0.5rem 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    margin-bottom: 2rem;
}

.sexy-button:hover {
    background: #4371ec;
    color: white;
}

:focus {
    outline: 4px solid #ecd343;
}

/* MOBILE OPTIMIZATION */

@media (max-width: 640px) {
    .hero-text {
        font-size: 1.5rem;
    }

    .main-nav {
        height: 0;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0;
        overflow: hidden;
        width: 100%;
    }

    .active + .main-nav {
        visibility: visible;
        opacity: 1;
        height: 2rem;
    }

    ol.hero-text {
        padding: 0 2rem;
    }

    .sexy-button {
        font-size: 1rem;
    }

    .promo-container {
        padding: 0 1rem;
    }

    header {
        padding: 0 0.5rem;
    }

    footer {
        padding: 0.5rem;
    }

    .mobile-menu-toggle {
        display: initial;
    }
}


/* ANIMATIONS */

.bigEnterBottom {
    animation: bigEnterBottom 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.smallEnterLeft {
    animation: smallEnterLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bigEnterLeft {
    animation: bigEnterLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.smallEnterBottom {
    animation: smallEnterBottom 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes smallEnterLeft {
    from {
        opacity: 0;
        transform: translateX(-2vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }    
}


@keyframes bigEnterLeft {
    from {
        opacity: 0;
        transform: translateX(-20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes smallEnterBottom {
    from {
        opacity: 0;
        transform: translateY(2vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }    
}

@keyframes bigEnterBottom {
    from {
        opacity: 0;
        transform: translateY(20vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}