body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "BBCReith",Arial,Helvetica,freesans,sans-serif;
    font-weight: 300;
    background-image: url(./assets/wave.svg);
    background-size: cover;
}

header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header ul {
    margin: 0;
    list-style-type: none;
    display: flex;
}

header ul li {
    margin: 0 0.75rem;
}

footer {
    padding: 1.5rem;
    background: #273865;
    color: white;
    border-top: 2px solid black;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

footer p {
    margin: 0;
}

.promo-container {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 2rem;
    margin: 2rem 0;
    justify-content: center;
}

.link {
    background: transparent;
    transition: 0.25s background;
    color: black;
    text-decoration: none;
}

.link:hover {
    background: white;
}

.promo-image {

    width: 8rem;
    height: auto;
}

.promo {
    max-width: 920px;
}

.promo p {
    max-width: 60ch;
}

.image-wrapper {
    position: relative;
    height: 0;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

.hero-text {
    font-size: 4rem;
    margin: 2rem 0;
    padding: 0;
}

ol.hero-text {
    padding: 0 4rem;
}

.sexy-button {
    display: inline-block;
    text-decoration: none;
    background: white;
    border: 0.3rem solid #4371ec;
    font-size: 2rem;
    padding: 0.5rem 0.75rem;
    color: #4371ec;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 800;
    transition: 0.5s background;
    box-shadow: 0.5rem 0.5rem 0.5rem 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    margin-bottom: 2rem;
}

.sexy-button:hover {
    background: #4371ec;
    color: white;
}

:focus {
    outline: 4px solid #ecd343;
}

@media (max-width: 640px) {
    .hero-text {
        font-size: 2rem;
    }

    .sexy-button {
        font-size: 1rem;
    }
}


/* ANIMATIONS */

.first {
    animation-delay: 0s;
}

.second {
    animation-delay: 3s;
}

.third {
    animation-delay: 6s
}

.bigEnterBottom {
    animation: bigEnterBottom 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.smallEnterLeft {
    animation: smallEnterLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bigEnterLeft {
    animation: bigEnterLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.smallEnterBottom {
    animation: smallEnterBottom 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes smallEnterLeft {
    from {
        opacity: 0;
        transform: translateX(-2vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }    
}


@keyframes bigEnterLeft {
    from {
        opacity: 0;
        transform: translateX(-20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes smallEnterBottom {
    from {
        opacity: 0;
        transform: translateY(2vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }    
}

@keyframes bigEnterBottom {
    from {
        opacity: 0;
        transform: translateY(20vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}