@font-face {
    font-family: 'Raleway';
    src: url(./Raleway/Raleway-Light.ttf);
    font-weight: lighter;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(./Raleway/Raleway-Regular.ttf);
    font-weight: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(./Raleway/Raleway-Medium.ttf);
    font-weight: bolder;
    font-weight: 550;
}

@font-face {
    font-family: 'Raleway';
    src: url(./Raleway/Raleway-SemiBold.ttf);
    font-weight: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url(./Raleway/Raleway-Bold.ttf);
    font-weight: bold;
    font-weight: 900;
}